<mj-section background-color="white">
  <mj-column>
    <mj-text>
      <h1>Common Header Content</h1>
      <p>Welcome to {{ appName | default: 'Our App' }}!</p>
    </mj-text>
  </mj-column>
</mj-section>